md-content(layout='')
  toolbar(style='position:fixed')
.department-detail(layout='row')
  div.sidebar(layout='column',  flex='stretch')
    h3 User Management        
    a(href='/manageemployee') Manage Employee
    a(href="/manageorganization") Manage organizations
    a(href='/viewleave') See Leave
    a(href='/viewtimesheet') See Daily Logs
    h3 List Datas Management  
    a(href="/managedepartment") Manage Departments
    a(href="/managedesignation") Manage Designation
    a(href="/projects") Manage Projects  
  div.middle(layout='column')
    h1 Here are the details of the department
    form.md-whiteframe-z1(name='form', ng-submit='save()', layout-padding='')
      md-input-container
        label Name
        input(ng-model='department.name', placeholder='Name')
      md-input-container
        label Description
        input(ng-model='department.description', placeholder='Description')
      div(layout='row')
        input.md-button(type='submit', value='Save')
        md-button(ng-click='reset()') Reset
        md-button(ng-href='/managedepartment') Cancel
