md-toolbar.toolbar(layout='row', layout-align='start center', layout-padding='')
  .navbar-left(layout='row', layout-align='center center')
    a(href='/dashboard')
      i(class='fa fa-home fa-3x' style="color:white")
        md-tooltip(md-direction='right') Home
  span(flex='')
  .navbar-right(layout='row', layout-align='center center') 
    div(ng-show='$root.currentUser ') {{ $root.currentUser.profile[0].fname }}
    md-button(ng-href='/logout', ng-show='$root.currentUser') 
      i(class="fa fa-sign-out fa-3x")