div.fbtoolbar(layout='row', layout-align='space-around center') 
  div.toolleft(flex='50')
    img(ng-src='etime.png')
  div.toolright(flex='50')
    form(layout='row')
      md-input-container
        label.toollabel(for='email') email
        input.apple(type='text', ng-model='credentials.email', name='email', placeholder='email')
      md-input-container
        label.toollabel(for='password') password
        input.apple(type='password', ng-model='credentials.password', name='password', placeholder='password')
      md-button.md-raised.md-primary.toolbutton(ng-click='login()', aria-label='login') Sign In
            
    div.toolpassword(layout='row', layout-align='space-around center')
      span(flex='')
        a(href='/reset') Forgot your password?
      span(flex='')
.register
    md-content(layout='row', flex='100' style='width:100%')
      md-content(layout='column' flex='50')
        h2 This is ETimesheet App.
        h2 You can add you dailyLog,
        h2 Send leave Request
      md-content(layout='column', flex='50')
        div(layout='row', layout-align='space-around left')
          h1(style='text-align:left') Sign Up
        .md-warn(ng-show='error')
          small {{ error }}
        form(layout='column' name='myForm' id='form')
          div.faram(layout='row', layout-align='space-around left')
            md-input-container(layout='column', flex='30')
              input(type='text', required ng-model='profile[0].fname', placeholder='First Name', aria-label='name')
            md-input-container(layout='column', flex='30')
              input(type='text', ng-model='profile[0].mname', placeholder='Middle Name', aria-label='name')
            md-input-container(layout='column', flex='30')
              input(type='text', ng-model='profile[0].lname', placeholder='Last Name', aria-label='name')

          div.faram(layout='row', layout-align='space-around left')     
            md-input-container(layout='column', flex='45')
              input(type='text', required ng-model='profile[0].contact', placeholder='contact', aria-label='contact') 
          div.faram(layout='row', layout-align='space-around left')   
            md-input-container(layout='column', flex='45')
              input(type='text', ng-model='profile[0].address', placeholder='address', aria-label='address')
          div.faram(layout='row', layout-align='space-around left')   
            md-input-container(layout='column', flex='45')
              input(type='email', required  ng-model='email', placeholder='Email', aria-label='email')
            md-input-container(layout='column', flex='45')
              input(type='email', ng-model='profile[0].secondaryemail', placeholder='Secondary Email', aria-label='secondaryemail') 
          div.faram(layout='row', layout-align='space-around left')
            md-input-container(layout='column', flex='45')
              input(type='password', ng-model='password', placeholder='password', aria-label='password')
            md-input-container(layout='column', flex='4540')
              input(type='password', ng-model='repassword', placeholder='Retype password', aria-label='Retype password')  
          md-button.md-raised.md-primary(ng-disabled="myForm.$invalid" , ng-click='register()')
            | Create Account
      span(flex='')
 