.pagination
  list-style-type none
  text-align center
  margin 0
  padding 0
  
  li
    display inline-block
    padding 0.5rem
    margin 0.5rem

.fbtoolbar
  background:#3a5795
  width:100%
  float: left
  height: 77px

input.apple
  padding-top: 0 !important
  background-color: rgb(250, 255, 189);

.toollabel
  color: #fff !important
  text-transform: uppercase


  