md-content(layout='')
  toolbar(style='position:fixed')
.users-list(layout='row')
  div.sidebar(layout='column',  flex='stretch')
    h3 User Management        
    a(href='/timesheet') Add daily logs
    a(href="/leave") Add leave  
  span(flex='')
  div(layout='column')
    h1 User Dashboard
    a(href='/timesheet')  Add Timesheet       
      a(href='/leave')  Add Leave

      span(flex='')

 