.sidebar
  position: fixed
  height: 100%
  width: 18%
  float: left
  background:#ccffff
  padding-top: 100px;
.sidebar>a
  text-decoration: none

table { 
    border-collapse: collapse; 
  }
  / Zebra striping /
  tr:nth-of-type(odd) {
    background: #cdc;
  }
  th { 
    background:rgb(0,150,136); 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #cdcd; 
    text-align: left; 
  }  

.middle
    position: relative;
    left: 20%;  