md-content(layout='')
  toolbar
.leave(layout='row')
  div.sidebar(layout='column',  flex='stretch')
    h3 User Management        
    a(href='/manageemployee') Manage Employee
    a(href="/manageorganization") Manage organizations
    a(href='/viewleave') See Leave
    a(href='/viewtimesheet') See Daily Logs
    h3 List Datas Management  
    a(href="/managedepartment") Manage Departments
    a(href="/managedesignation") Manage Designation
    a(href="/projects") Manage Projects  

  div.middle(layout='column', layout-padding='')
    div(layout='row')
      md-input-container(flex='65')
        label Search
        input(type='search', ng-model='search', placeholder='Search')
      md-select(ng-model='orderProperty', flex='35')
        md-option(value='1') Ascending
        md-option(value='-1') Descending

    table
      tr
        th Leave Name
        th Employee
        th Start Date
        th End Date        
        th Asked Date
        th Operations
      tr(dir-paginate='leaveRequest in leaveRequests | itemsPerPage: perPage |  orderBy:sortType:sortReverse', total-items='leaveRequestsCount.count',  current-page='page')
        td {{leaveRequest.name}}
        td {{leaveRequest.user}}
        td {{leaveRequest.startDate | date:'fullDate'}}
        td {{leaveRequest.endDate | date:'fullDate'}}
        td {{leaveRequest.askDate | date:'fullDate'}}
        td 
          button(ng-click='verifyleave(leaveRequest._id)') Verify It
          button(ng-click='cancelleave(leaveRequest._id)') Cancel it   

    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')

    p Total number of leave: {{leaveRequestsCount.count}}
