.leave(layout='row')
  span(flex='') 
    table
      tr
        th Start Date
        th End Date
        th Leave Name
        th Employee
        th Asked Date
        th Approved
      tr(dir-paginate='leaveRequest in leaveRequests | itemsPerPage: perPage |  orderBy:sortType:sortReverse', total-items='leaveRequestsCount.count',  current-page='page')
        td {{leaveRequest.startDate}}
        td {{leaveRequest.endDate}}
        td {{leaveRequest.name}}
        td {{leaveRequest.user}}
        td {{leaveRequest.askDate}}
        td 
          button(ng-click='verifyleave(leaveRequest._id)') Verify It
        td 
          button(ng-click='cancelleave(leaveRequest._id)') Cancel it   

    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')

    p Total number of leave: {{leaveRequestsCount.count}}
