md-content(layout='')
  toolbar(style='position:fixed')
.manageemployeeEdits(layout='row')
  div.sidebar(layout='column',  flex='stretch')
    h3 User Management        
    a(href='/manageemployee') Manage Employee
    a(href="/manageorganization") Manage organizations
    a(href='/viewleave') See Leave
    a(href='/viewtimesheet') See Daily Logs
    h3 List Datas Management  
    a(href="/managedepartment") Manage Departments
    a(href="/managedesignation") Manage Designation
    a(href="/projects") Manage Projects  

  span(flex='20')
  md-whiteframe(layout='column', flex='50')
    div.middle(layout='row', layout-align='space-around center')
      div 
      h1 Details
    form(layout='column')
      div Name
          md-input-container
          md-icon(md-svg-icon='content:ic_mail_24px')
          input(type='text', ng-model='fname', placeholder='First Name', aria-label='name')
          md-input-container
          md-icon(md-svg-icon='content:ic_mail_24px')
          input(type='text', ng-model='mname', placeholder='Middle Name', aria-label='name')
          md-input-container
          md-icon(md-svg-icon='content:ic_mail_24px')
          input(type='text', ng-model='lname', placeholder='Last Name', aria-label='name')
      div Contact
      md-input-container
        md-icon(md-svg-icon='content:ic_mail_24px')
        input(type='text', ng-model='contact', placeholder='contacts', aria-label='contact') 
      div Address
      md-input-container
        md-icon(md-svg-icon='content:ic_mail_24px')
        input(type='text', ng-model='address', placeholder='address', aria-label='address')
      div Email     
        md-input-container
          md-icon(md-svg-icon='content:ic_mail_24px')
          input(type='email', ng-model='email', placeholder='Email', aria-label='email')
        md-input-container
          md-icon(md-svg-icon='content:ic_mail_24px')
          input(type='email', ng-model='secondaryemail', placeholder='Secondary Email', aria-label='secondaryemail') 
      label Department
        md-select(ng-model='department', placeholder='Select Department') 
         md-option(ng-value='' )
         md-option(ng-value='department._id', ng-repeat='department in departments') {{ department.name }}
         br
      br
      label Designation
        md-select(ng-model='designation', placeholder='Select Designation') 
         md-option(ng-value='' )
         md-option(ng-value='designation._id', ng-repeat='designation in designations') {{designation.name }}
         br
      br                
      div(layout='row')
        input.md-button(type='submit', value='Save' ng-click='save()')
        md-button(ng-href='/manageemployee') Cancel
