.timesheet(layout='row')
  span(flex='')
  div(layout='column')
    table(border=1)
      tr
        th Project Title
        th Time Taken
        th Task
        th Added By
        th Created Date

      tr(dir-paginate='dailyLog in dailyLogs | itemsPerPage: perPage |  orderBy:sortType:sortReverse', total-items='dailyLogsCount.count',  current-page='page')
        td {{dailyLog.pname}}
        td {{dailyLog.Timetaken+'hrs'}}
        td {{dailyLog.description}}
        td {{dailyLog.user}}
        td{{dailyLog.createdDate}}
        td 
          button(ng-click='deltimesheet(dailyLog._id)') Delete
    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')

    p Total number of organization: {{dailyLogsCount.count}}          
  span(flex='')
