md-content(layout='')
  toolbar(style='position:fixed')
.timesheet(layout='row')
  div.sidebar(layout='column',  flex='stretch')
    h3 User Management        
    a(href='/manageemployee') Manage Employee
    a(href="/manageorganization") Manage organizations
    a(href='/viewleave') See Leave
    a(href='/viewtimesheet') See Daily Logs
    h3 List Datas Management  
    a(href="/managedepartment") Manage Departments
    a(href="/managedesignation") Manage Designation
    a(href="/projects") Manage Projects  

  div.middle(layout='column')
    div(layout='row',style="border-style: solid;border-width:1px;") 
      md-select(ng-model='search', placeholder='user',style="margin-right:30px;")
       md-option(ng-repeat='user in users') {{ user.profile[0].fname }}
      md-select(ng-model='project1', placeholder='project', style="margin-right:30px;")
        md-option( ng-repeat='project in projects') {{ project.name }}
      label Date
        md-datepicker(ng-model='from', md-placeholder='From')
        md-datepicker(ng-model='to', md-placeholder='To')
      md-button.md-raised.md-primary(ng-click='find(userr,project1,from,to)',style="height:13px") Submit
    table(border=1)
      tr
        th Project Title
        th Time Taken
        th Task
        th Added By
        th Created Date

      tr(dir-paginate='dailyLog in dailyLogs | itemsPerPage: perPage |  orderBy:sortType:sortReverse', total-items='dailyLogsCount.count',  current-page='page')
        td {{dailyLog.pname}}
        td {{dailyLog.Timetaken+'hrs'}}
        td {{dailyLog.description}}
        td {{dailyLog.user}}
        td{{dailyLog.createdDate | date:'fullDate'}}
        td 
          button(ng-click='deltimesheet(dailyLog._id)') Delete
          
    div(layout='row')
      md-input-container
        label Search
        input(type='search', ng-model='search', placeholder='Search')         
      md-select(ng-model='orderProperty', flex='35')
        md-option(value='1') Ascending
        md-option(value='-1') Descending

    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')

    p Total number of dailyLogs: {{dailyLogsCount.count}}          

